{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container-fluid" style="background-image:url('https://res.cloudinary.com/auca/image/upload/v1607429825/xmastree_koxyqa.png');background-size: cover; height: 90vh; background-position: center;margin-top: -0.55cm;">
  <br>
  <br>
  <div>
      <h1 style="text-align: center;font-weight: bold;color: white;">Enter Your Credentials</h1>
      <div class="row" style="margin-top: 70px;color: white;">
          <div class="col-md-2"> </div>
          <div class="col-md-8">
              <!--Flash message -->
              {% for message in get_flashed_messages() %}
              <div class="alert alert-danger">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
              </div>
              {% endfor %}
              <!-- Login form -->
              {{wtf.quick_form(login_form)}}
              <p> Don't have an account? <a href="{{url_for('auth.register')}}" style="color: orange; font-weight: bold;">Sign up here</a></p>
          </div>
          <div class="col-md-2"> </div>
      </div>
  </div>
</div>

{% endblock%}