{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}


<div class="container-fluid" style="background-image: linear-gradient(rgba(240, 240, 240, 0.027),rgba(248, 248, 248, 0)),url('https://res.cloudinary.com/auca/image/upload/v1607429263/gifts_zk97eu.png');background-size: cover; height: 80vh; background-position: center;margin-top: -0.55cm;">
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
            <h3 class="text-center m-5" style="font-weight: bold;margin-top: 80px; color: white;text-align: center;">Update a Post</h3>
            <br>
            <div>
                {{wtf.quick_form(form)}}
            </div>
        </div>
    </div>
</div>

{% endblock %}